 footer{
 background-color:aqua;
 color: black;  
 border-top-style: double;
 border-top-width: thick;
 width: 100%; 
}
tr:nth-child(even){ 
 background-color: orange;
}
tr:nth-child(odd){ 
 background-color: yellow;
}
.b-h{
    background-size: 100%;
    height: 100%;
    background-color: aliceblue;
}
#nav
{
    background-color: aliceblue;
    padding: 1vw;
}
#nav > div
{
    background-color: aliceblue;
    width: fit-content;
}
.syte
{
    height: 110px;
    background-color: aliceblue; 
}
header
{
background-color: aliceblue; 
}
