 footer{
 background-color:aqua;
 color: black;  
 border-top-style: double;
 border-top-width: thick;
 width:auto; 
}
tr:nth-child(even){ 
 background-color: orange;
}
tr:nth-child(odd){ 
 background-color: yellow;
}
div.center{
 max-width: 500px;
 background-color: white;
}
#pikch{
 float: left; 
 width:100px; 
 height:100px;
}
.page header, .page nav {
    background-position: right;
    background-size: 100%;
    background-color: aliceblue;
}
div.h{
 max-width:800px; 
 background-color: aliceblue; 
}
div.navigation {
  letter-spacing: .2em;
}
