#main-aside-wrapper {
 display: flex;
 flex-direction: column;
}
 #main-aside-wrapper aside {
 flex: 1;
 order 1;
}
  #main-aside-wrapper main1 {
 flex: 1;
 order 1;
}
#main-aside-wrapper main {
 flex: 1;
 order: 1;
}
@media screen and (max-width: 800px) {
 #main-aside-wrapper {
 flex-direction: column;
  width:100%; 
 }
 #main-aside-wrapper aside {
 flex: 1;
 order 2;
}
  #main-aside-wrapper main1 {
 flex: 1;
 order 3;
}
#main-aside-wrapper main {
 flex: 1;
 order: 1;
}
}
tr:nth-child(even){ 
 background-color: orange;
}
tr:nth-child(odd){ 
 background-color: yellow;
}
 footer{
 background-color:aqua;
 color: black;  
 padding-right: 67px;
  padding-top: 20px;
  border-top-style: double;
  border-top-width: thick;
   width:100%; 
}
div.center{
 max-width: 500px;
 background-color: white;
 margin:auto;
 margin-top:45px;
 padding:5px;
}
#pikch{
 float: left; 
 margin:35px; 
 width:100px; 
 height:100px;
}
 header {
display: flex;
flex-flow: row nowrap;
background-position: right;
background-size: 100%;
background-color: aliceblue; 
}
div.h{
 max-width:800px; 
 background-color: aliceblue; 
 margin: 0 auto; 
 margin-top:30px; 
 padding:25px;
}

nav {
  flex-grow: 4;
  background-color: aliceblue;
  margin-left: 30px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
div.navigation {
  margin-right: 60px;
  margin-left: 60px;
  letter-spacing: .2em;
}
