<!DOCTYPE html>
<html>

  <head>
    <title>Оформление</title>
  </head>
header {
 color: #000000;
 background-color: red;
 background-image: url(img/bg.png);
 background-position: left top;
 background-size: 50%;
}
<body style="margin:0;">

    <!-- этот блок будет тянуться по ширине окна -->
    <div style="width:100%; background-color:#fff; padding: 10px; height:120px;">
      <!-- картинка обтекает текст слева -->
      <img style="float:left; margin:10px; width:100px; height:100px;" src="pikch.jpg" alt="Логотип" />
      <!-- этот блок, как положено блочному элементу по умолчанию, займет всю оставшуюся ширину родительского элемента -->
      <div style="background-color:#ddd; padding:10px;">Текст</div>
    </div>

    <!-- этот блок будет ограничен по ширине и горизонтально выровнен по центру родительского элемента -->
    <div style="max-width:450px; background-color:#aaa; margin: 0 auto; margin-top:30px; padding:20px;">
    Контент
    </div>
    <!-- этот блок будет ограничен по ширине и горизонтально выровнен по центру родительского элемента -->
    <div style="max-width:450px; background-color:#aaa; margin: 0 auto; margin-top:30px; padding:20px;">
    Контент
    </div>
    <!-- этот блок будет ограничен по ширине и горизонтально выровнен по центру родительского элемента -->
    <div style="max-width:450px; background-color:#aaa; margin: 0 auto; margin-top:30px; padding:20px;">
    Контент
    </div>
    <div style="width:100px; background-color:#ccc; margin:50px; padding:50px;">
      <span style="background-color:red;">Контент</span>
    </div>

  </body>

</html>
