ok{
 color: #000;
 background-color: green;
  width:100%;
  padding: 10px; 
  height:120px


}
#p table.active{
 max-width:700px; 
 background-color: white;
 margin: 0 auto;
 margin-top:30px;
 padding:20px;

}
#header, #footer{
 width:100%; 
 background-color:#fff; 
 padding: 10px; 
 height:120px;
}
.img{
 float:left; 
 margin:10px;
 width:75px; 
 height:75px;
 }
.text{
 margin: 0 auto;
 max-width: 960px;
}
 

